@import "constants/colors.styl"
@import "styles/fonts.styl"
@import "styles/global.styl"

.layout
  padding: 20px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
